@font-face {
    font-family: rh;
    src: url(rh.ttf);
}
body{
    font-family: rh;
    background-color: #eabcbc;
    text-align: center;
}
#like{
    width: 10%;
    height: 100px;
    font-size: 60px;
    background-color:#fff;
    transition: 0.3 ease;
    border-radius: 10%;
    transition-duration: 0.5s;
    border-color: #fff;
}
#like:hover{
    background-color:#eabcbc;
    cursor: pointer;
}