@font-face {
    font-family: rh;
    src: url(rh.ttf);
}
body{
    background-color: #222;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-family: rh;
    text-align: center;
}
@keyframes color {
    0% {
      background-color: #222;
    }
    50% {
      background-color: #4285f4;
    }
    100% {
      background-color: #222;
    }
}
#like{
    width: 10%;
    height: 100px;
    font-size: 60px;
    background-color:#fff;
    transition: 0.5s ease;
    border-radius: 10%;
    border-color: #fff;
}
#like:hover{
    background-color:#4285f4;
    cursor: pointer;
}
footer{
    text-align:end;
}