@font-face {
  font-family: rh;
  src: url(../../rh.ttf);
}

body{
    background-color: #222;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-family: rh;
    text-align: center;
    font-size: clamp(10px, 2vw, 25px) !important;
}
@keyframes color {
    0% {
      background-color: #222;
    }
    50% {
      background-color: #f4f4f4;
    }
    100% {
      background-color: #222;
    }
}
#navbar{
  text-align: left;
  word-spacing: 15px;
  text-shadow: black 2px 2px 2px ;
}

a:link{
  text-decoration: none !important;
  color: #949494;
  transition: 0.8s ease;
}

a:hover, a:hover:visited{
  color: #fff;
}

a:visited{
  color: #949494;
}

#video{
  text-align: center;
  width: clamp(200px, 50%, 800px);
}
#btn{
  text-align: center;
  font-size: 18px;
  background-color:#fff;
  transition: 0.5s ease;
  border-radius: 10%;
  border-color: #fff;
}
#btn:hover{
  background-color: #949494;
  cursor: pointer;
}